@inherits LayoutComponentBase

<PageTitle>BlazorCrudBooks</PageTitle>

<div class="page">
    <main>
        <div class="container mt-5">
            <div class="row">
                <div class="col-12">
                    <h1 class="text-danger">Oops, Error 404</h1>
                    <div class="alert alert-danger">
                        El contenido que buscas no se encuentra en la ruta
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

